POHODA_MSERVER_URL="http://localhost:4444/xml"
POHODA_ICO="12345678"
POHODA_USER="Admin"
POHODA_PASS="tajneheslo"

BALIKOBOT_API_USER="top-dentcz"
BALIKOBOT_API_KEY="4rYH1VXK"

UPGATES_URL="https://topdent.admin.s5.upgates.com/api/v2/"
UPGATES_USER="97605683"
UPGATES_SECRET="zXBsIcg5Vep1j/HUqLhG"
